header {
    justify-content: space-around;
}

#logo1 {
    justify-content: space-around;
    margin-left: 90px;
}

#double-tap-nav {
    justify-content: space-around;
    
}

a {
    color: black;
    justify-content: space-around;
    text-align: center;
    display: flex;
    margin: 50px;
}

.nav-link{
    color: black;
    justify-content: space-around;
    text-align: center;
    display: flex;
}

#sign-in {
    width: 96px;
    margin-left: 120px;
}

#try-it-free {
    margin-left: 20px;
}