header {
    justify-content: space-around;
}

#logo1 {
    justify-content: space-around;
    margin-left: 90px;
}

#double-tap-nav {
    justify-content: space-around;
    
}

a {
    color: black;
    justify-content: space-around;
    text-align: center;
    display: flex;
    margin: 50px;
}

.nav-link{
    color: black;
    justify-content: space-around;
    text-align: center;
    display: flex;
}


.container {
    justify-content: space-around;   
    position: absolute;
    left: 5rem; 
}

#center {
    justify-content: space-around;
    position: absolute;
    left: 5rem;
    margin-right: 200px;
}

h1 {
text-align: left;    
}
#sign-in {
    width: 96px;
    margin-left: 120px;
}

#try-it-free {
    margin-left: 20px;
}

#header-img {
    width: 600px;
    height: 600px;
    display: flex;
}

h3 {
    width: 600px;
    font-size: medium;
    text-align: left;
}

#line {
    color: black;
}

#sign-up-chat{
    display: flex;
    justify-content: flex-start;
    height: 60px;
    width: 170px;
    justify-content: space-around;
    margin-right: 30px;
    align-content: start;
    text-align: center;
}

#signupbtn {
    text-align: center;
}



#already {
    margin-right: 45px;
}

#free {
    width: 125px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
}


#manage{
    width: 125px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
}

p {
    text-align: left;
}

#cancel {
    display: flex;
    justify-content: flex-start;
}


.try {
    text-align: center;
    color: white;
    margin: 30px;
}

.started {
    text-align: center;
    color: white;
    justify-content: space-around;
}

.footer {
    background-color: blue;
    height: 300px;
    width: 2000px;
}

#getbtn {
    width: 150px;
    margin: 20px;
}

#chatbtn {
    width: 150px;
    justify-content: space-around;
}

#footerh6 {
    color: white;
}
