body{
    height:100%;
    margin:15px;
}

h1{
    text-align:center;
    font-size:20px;
    margin-top:20px;
}

#sentence{
    text-align:center;
    width:40%;
    margin-left:440px;
    margin-bottom:30px;
}

img{
    width:50px;
    height:50px;
}

  .column {
    float:left;
    width: 120px;
    height:120px;
    padding: 30px;
    border: 2px solid grey;
    border-radius:5px;
    margin-bottom:100px;
}

.row{
    clear: both;
    display:block inline;
    margin-left:100px;
    content:" "; 
    justify-content: space-around;
}

label{
    padding:5px;
}

#credit{
    width:250px;
    height:220px;
    margin-left:400px;
    margin-top:60px;
}

#credit-image{
    border: 2px solid black;
    float:right;
    width:300px;
    height:300px;
    margin-right:500px;
    border-radius:5px;
    font-size:12px;
    background-color:blue;
    color:white;

}

#solutions{
    text-align:center;
    margin-top:60px;
    font-size:20px;

}

.col{
    margin-top:100px;
    margin-bottom:70px;
}

#rowimage{
    width:130px;
    height:130px;
}

.button{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 15px;
    width:200px;
    height:50px;
    text-align:center;
}
